.landing_container {
  padding: 30px 15px;
  background-size: cover;
}
.landing_container .landing_about_container {
  display: none;
}
@media (min-width:601px ) {
.landing_container{
    min-height: 100vh;
    display: flex;
  }
  .landing_container > div {
    width: 50%;
  }
  .landing_container .landing_about_container {
    display: block;
    margin-top: 40px;
  }
  .question_paragraph h1 {
    font-size: 35px;
    color: #e33f00;
    font-weight: bold;
  }
  .landing_container {
    padding: 30px 15px;
  }
}
.formWrapper {
  width: 100%;
  position: relative;
  opacity: 1; /* Ensure it is visible */
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
}
/* Slide Animations */
.slideInLeft {
  animation: slideInLeft 0.3s forwards;
}
.slideOutLeft {
  animation: slideOutLeft 0.3s forwards;
}
.slideInRight {
  animation: slideInRight 0.3s forwards;
}
.slideOutRight {
  animation: slideOutRight 0.3s forwards;
}

/* ---------------- */
.formWrapper {
  width: 100%;
  position: relative;
  opacity: 1; /* Ensure it is visible */
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
}
/* Slide Animations */
.slideInLeft {
  animation: slideInLeft 0.3s forwards;
}
.slideOutLeft {
  animation: slideOutLeft 0.3s forwards;
}
.slideInRight {
  animation: slideInLeft 0.3s forwards;
}
.slideOutRight {
  animation: slideOutLeft 0.3s forwards;
}
/* Keyframes */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}