/* General styles */
body {
    margin: 0;
    padding: 0;
  }
  
 .outer_container {
  
      display: flex;
      justify-content: space-around;
      max-width: 100%;
      background-color: #37415A;
    color:#737373;
    height: 210px;
    padding-left: 33px;
      }
      .logo{
        color: white;
      }
      .outer_container a{
          color: #737373;
          font-size: 15px;
          text-decoration: none;
      }
      .outer_container li{
          list-style: none;
          
      }
      .outer_container ul{
        display: flex;
        flex-direction: column;
       
        justify-content: center;
        height: 100%;
      }
      .social svg{
          color: white;
      }
      .contact_info{
    color: #737373;
    font-size: 15px;
      }
  
  .contact_info h3{
    color: white;
    font-size: 20px;
  }
  
  .links h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
  }
  .links ul li {
    margin-bottom: 8px;
  }
  .links ul li a:hover {
    color: #f39c12; /* Change to your brand's accent color */
  }
  
  .div img{
    width: 20px; 
  }
  .logo{
    display: flex;
    flex-direction:column;
    justify-content: center;
    gap: 15px;
  }
  .social{
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  @media (max-width:556px){
  
    
  .outer_container {
     padding-left:  15px;
      display: block;
   height: 476px;
      }
      
  
  .logo{
    display: block;
    padding-top: 30px;
    padding-bottom: 15px;
    /* padding-left: 20px; */
  }
  .social{
    justify-content: start;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  }