.question_container {
  padding: 30px 0 15px;
  border-bottom: 1px solid rgb(148, 147, 147); 
}
.question_container  svg{
color: #002356;
}
.question_container:hover {

  cursor: pointer;
}

.question_container:hover .user svg{
border-radius: 50%;
background-color: #002356;
}


.question_container:hover svg{
  color: white;
}
.question_container:hover .expand_icon svg{
  color: #002356;
  height: 23px;
  width: 73px;
    /* transition: all 0.3s ease-in-out; */
}

.question_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qn_title {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.question_title {
  font-size: 18px;
  font-weight: 600;
  color: black;
  text-decoration: none;
  transition: 0.05s;
}

.question_title:hover {
  color: rgb(104, 104, 255);
}

.expand_icon {
  text-decoration: none;
  color: rgb(104, 104, 255);
  font-size: 20px;
  transition: 0.3s;
}

.expand_icon:hover {
  color: rgb(145, 145, 252);
}
/* Responsive Design for Small Screens */
@media screen and (max-width: 468px) {
  .question_container {
  padding: 15px 0 15px;
  border-bottom: 1px solid rgb(148, 147, 147); 
}
.question_container .question_title{
  font-size: 15px;
}

}